<div class="w-full" [ngClass]="{ 'cursor-pointer': detailed }">
  <!-- [detail]="detailed" -->

  <div>
    <!-- slot="start" -->
    <!-- <ion-icon name="beer-outline" size="large"></ion-icon> -->
  </div>
  <label>
    <h3 class="uppercase">{{ name }}</h3>
    <p class="font-semibold" *ngIf="stock">
      Stock: <span class="font-normal">{{ stock }}</span>
    </p>
    <p class="font-semibold" *ngIf="price">
      Price: <span class="font-normal">{{ price | currency }}</span>
    </p>
    <p class="font-semibold" *ngIf="category">
      Category:
      <span class="font-normal">{{ category }}</span>
    </p>
    <p *ngIf="description" class="font-semibold">
      Description:
      <span class="font-normal">{{ description }}</span>
    </p>
    <p *ngIf="quantity" class="font-semibold">
      Quantity:
      <span class="font-normal">{{ quantity }}</span>
    </p>

    <p *ngIf="quantity && price" class="font-semibold">
      Subtotal:
      <span class="font-normal">{{ subtotal | currency }}</span>
    </p>
  </label>
</div>
