<div
  class="justtify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none bg-neutral-800/70"
>
  <div
    class="relative w-full md:w-4/6 lg:w-3/6 xl:w-2/5 my-6 mx-auto h-full lg:h-auto md:h-auto"
  >
    <!-- Content -->
    <div
      (clickOutside)="exit()"
      class="translate duration-300 h-full"
      [ngClass]="{
        'translate-y-0 opacity-100': isOpen,
        'translate-y-full opacity-0': !isOpen
      }"
    >
      <div
        class="translate h-full lg:h-auto md:h-auto border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
      >
        <!-- Header -->
        <div
          class="flex items-center p-6 rounded-t justify-center relative border-[1px]"
        >
          <button
            (click)="emitCloseAction()"
            class="p-1 border-0 hover:opacity-70 transition absolute left-9"
          >
            <!-- <ion-icon name="close-outline"></ion-icon> -->
          </button>
          <div class="text-lg font-semibold">{{ title }}</div>
        </div>

        <!-- Body -->
        <div class="relative p-6 flex-auto">
          <ng-content></ng-content>
        </div>

        <!-- Footer -->
        <div class="flex flex-col gap-2 p-6">
          <div class="flex flex-row items-center gap-4 w-full">
            <Button
              outline
              [disabled]="disabled"
              (click)="emitSecondaryAction()"
              >{{ secondaryActionLabel }}</Button
            >
            <Button [disabled]="disabled" (click)="emitSubmitAction()">{{
              actionLabel
            }}</Button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
